@import './src/assets/styles/variables';

.navigation {
  padding: 8px 16px;
  color: $light;
  display: flex;
  align-items: center;
  background-color: $primary;
  &__spacer {
    flex-grow: 1;
  }
  &__button {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    background-color: inherit;
    border: none;
    color: $light;
    font-weight: 600;
    cursor: pointer;
    padding: 4px 8px;
    margin: 0 8px;
    outline: none;
    &:hover {
      background-color: rgba(0, 0, 0, .2);
    }
  }
}
